:root {
  --light: #eeeeee;
  --blue: #00adb5;
  --gray: #393e46;
  --dark: #1b1a17;
  --dark-transparent: #1b1a17f2;
  --beige: #e6d5b8;
  --orange: #f0a500;
}

* {
  text-align: center;
  box-sizing: border-box;
}

html,
body {
  font-family: "Ubuntu", sans-serif;
  color: var(--light);
  background: var(--dark);
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;
}

h1 {
  white-space: nowrap;
  font-size: 3.5em;
}

h2 {
  white-space: nowrap;
  font-size: 2em;
}

h3 {
  white-space: nowrap;
  font-size: 1.17em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ubuntu", sans-serif;
}

p {
  font-size: 1.2em;
}
