@media (min-width: 1250px) {
  main section::before {
    content: url(/images/zickzack_white.svg);
    position: absolute;
    top: 0;
    opacity: 0.15;
  }
}

@media (max-width: 1250px) {
  main .about {
    height: 100%;
  }
  main .about .cards {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 35px;
  }
  main .skills {
    height: 100%;
    margin-top: 150px;
  }
  main .skills .skills-container .technologies ul {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 850px) {
  h1 {
    font-size: 2.5em;
  }
  main .about .cards {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 35px;
  }
  main .skills .skills-container .technologies ul {
    grid-template-columns: repeat(3, 1fr);
  }
  main .connect .email-area .connect-form .submit {
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 1.7em;
  }
  p {
    font-size: 1em;
  }
  header {
    display: none;
  }
  main .about {
    justify-content: flex-start;
  }
  main .about .cards {
    margin-top: 15%;
    min-height: 800px;
  }
  main .skills .skills-container .technologies ul {
    grid-template-columns: repeat(2, 1fr);
  }
  main .connect .email-area {
    padding: 20px;
  }
}
