/* HEADER STYLE */

header {
  height: 13vh;
  width: 100%;
  position: fixed;
  background-color: var(--dark-transparent);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

header nav ul {
  display: flex;
}

header nav ul li a {
  color: var(--light);
  font-size: 1.2em;
  padding: 10px 25px;
}

main {
  width: 70%;
  margin: auto;
}

main section {
  position: relative;
}
main section::before {
  content: url(/images/zickzack_white.svg);
  position: absolute;
  top: 0;
  opacity: 0.15;
}

/* INTRODUCTION STYLE */

@keyframes puff-in-center {
  0% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-filter: blur(2px);
    filter: blur(2px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

main .introduction {
  color: var(--light);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  animation-name: puff-in-center;
  animation-duration: 2s;
}

main .introduction .introduction-container {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

main .introduction .introduction-container .social-medias {
  min-width: 200px;
  display: flex;
  justify-content: space-between;
}

main .introduction .introduction-container .introduction-image .less-than-icon {
  transform: rotate(180deg);
}

main .introduction .introduction-container .introduction-image .introduction-icon {
  animation-name: heartbeat;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}

/* ABOUT STYLE */

main .about {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main .about .cards {
  margin-top: 5%;
  height: 60%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 100px;
  justify-content: center;
}

main .about .cards article {
  border: 2px solid;
  height: 100%;
  border-radius: 10px;

  display: flex;
}

main .about .cards article .article-box {
  height: 45%;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

main .about .cards article .article-box p {
  font-size: 1em;
}

main .about .cards article .article-box hr {
  width: 15%;
}

/* SKILLS STYLE */

main .skills {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
